:root {
  --icon-size-small: 12px;
  --icon-size-default: 14px;
  --icon-size-action: 16px;
  --icon-size-brand: 28px;
}

.ui-icon {
  width: var(--icon-size-default);
  height: var(--icon-size-default);
  display: inline-block;
  flex: none;
  overflow: visible;
  vertical-align: -2px;
}
